{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
  Engagement {{ engagement.title }}
{% endblock title %}

{% block extracss %}
  <style>
    .flex {
      display: flex;
      justify-content: space-around;
    }
    h1 {
      text-align: center;
      padding: 1rem;
    }
    div.multiField textarea.form-control: {
      height: 6em;
    }
    h6 {
      font-weight: lighter;
    }
    h3 {
      font-weight: lighter;
      font-size: 1.25rem;
    }
    div.multiField {
      border-bottom: 1px solid black;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
    .textarea.form-control {
      height: 6em;
    }
  </style>
{% endblock extracss %}

{% block content %}
  <h1>{{ engagement.title }}</h1>

  <div class="flex">
    <div class="flex-item col-md-6">

      <dl>
        <dt>Date</dt>
        <dd>{{ engagement.date }}</dd>

        <dt>Description</dt>
        <dd>{{ engagement.description }}</dd>

        <dt>Location</dt>
        <dd>{{ engagement.relevant_location }}</dd>
      </dl>

      <hr/>
      <h6>Comprehensive Plan</h6>

      <dl>
        <dt>Interwoven Equity</dt>
        <dd>{{ engagement.comp_equity }}</dd>
        <dt>Healthy Community</dt>
        <dd>{{ engagement.comp_community }}</dd>
        <dt>Harmony with Nature</dt>
        <dd>{{ engagement.comp_nature }}</dd>
        <dt>Livable Built Environment</dt>
        <dd>{{ engagement.comp_environment }}</dd>
      </dl>

      <hr/>
      <h6>Time</h6>

      <dl>
        <dt>Processing the past</dt>
        <dd>{{ engagement.conn_past }}</dd>
        <dt>Understanding the present</dt>
        <dd>{{ engagement.conn_present }}</dd>
        <dt>Visioning the future</dt>
        <dd>{{ engagement.conn_future }}</dd>
      </dl>

      <p>
        <a class="btn btn-primary" href="{% url 'events:update' engagement.pk %}" role="button">
          Update Engagement
        </a>
      </p>

    </div>
    <div class="flex-item col-md-6">
      <div>
        <h3>Upload Artifacts</h3>
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% url 'events:artifact_create' engagement.pk %}"
        >
            {% csrf_token %}
            {{ artifact_formset|crispy }}
            <button type="submit" class="btn btn-primary">
              Submit Artifact(s)
            </button>
        </form>
      </div>
      <div>
        <h3>Upload Downloadable Files</h3>
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% url 'events:downloadablefile_create' engagement.pk %}"
        >
            {% csrf_token %}
            {{ downloadablefile_formset|crispy }}
            <button type="submit" class="btn btn-primary">
              Submit Downloadabble File(s)
            </button>
        </form>
      </div>
      <div>
        <h3>Submit Youtube Link</h3>
        <form
          method="post"
          action="{% url 'events:youtubelink_create' engagement.pk %}"
        >
            {% csrf_token %}
            {{ youtubelink_form|crispy }}
            <button type="submit" class="btn btn-primary">
              Submit Youtube Link
            </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
