{% extends "base.html" %}

{% block title %}Engagement List{% endblock title %}

{% block content %}

<h2>Engagements</h2>

<h4>Engagements Created by Me</h4>
<ul>
  {% for engagement in engagement_list %}
    <li>
      <a href="{% url 'events:detail' engagement.pk %}">
        {{ engagement.date }} {{ engagement.title }}
      </a>
    </li>
  {% endfor %}
</ul>

{% if other_objects %}
  <h4>Engagements By Other Users</h4>
  <ul>
  {% for engagement in other_objects %}
    <li>
      <a href="{% url 'events:detail' engagement.pk %}">
        {{ engagement.date }} {{ engagement.title }}
      </a><span> added by {{ engagement.created_by.username }}</span>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<p>
  <a class="btn btn-primary" href="{% url 'events:create' %}" role="button">
    Add New Engagement
  </a>
</p>
{% endblock content %}
